@font-face {
    font-family: NotoSans;
    src: url('./libs/fonts/NotoSans-Regular.ttf') format('truetype')
}

body {
    font-family: 'NotoSans' !important;
}

.columna-mensaje, .columna-nombre {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contenedor-pagina {
    margin: 50px 100px;
}

.contenedor-pagina.bienvenida {
    text-align: center;
}